.common1 {
    background-color: white;
    border: solid 2px black;
    position: relative;
}
.body {
    background-color: 5555;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    width: 100%;
    background-color: #333;
    text-align: left;
    color: white;
}
.mainbody {
    top: 120px;
    bottom: 70x;
    right: 5px;
    left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.pagebg {
    background-color: #555555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer{ 
    bottom: 5px;
    height: 50px;
    right: 5px;
    left: 5px;
    font-size: 15px;
    color: #999;
    text-align: center;
    border: whitesmoke 2px;
}

.a {
    color: white;
}