/* Sam Christensen 4/16/22 */

.body {
    font-family: Arial, Helvetica, sans-serif;
}
.common {
    border: solid 2px black;
} 
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}


